@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


* {
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

.pagina {

    .cabecalho {

        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 35vw;
        background-color: #fff;
        box-shadow: 1px 1px 2px #000;

        .logo {

            width: 9vh;

        }


        .opcoes {

            display: flex;
            flex-direction: row;
            gap: 7vw;
            justify-content: space-evenly;
            font-family: 'Kanit';
            margin-left: 25vw;

            .login {

                display: flex;
                flex-direction: row;
                gap: 10vh;
                color: #ce3131;

                #user {

                    margin-top: 10px;
                }

            }

            p {

                font-size: 24px;
                color: #000;

            }

        }


        #config {

            margin-left: 550px;
            margin-top: 45px;

        }



    }


    .secao {

        display: flex;
        flex-direction: column;


        .fundo {

            max-width: 100%;

        }

    }

}

button {

    border-radius: 8px;
    background-color: #fff;
    min-width: 285px;
    padding: 12px;
   // margin-left: 260px;
   // margin-top: 11px;
    border: none;

}


input {

    border-radius: 8px;
    border: none;
    outline: none;
    width: 490px;
    padding: 22px;
    font: 400 20px "Roboto";
}